#navbar-1 .navbar-nav li a {
    color: #08dd61 !important;
    font-size: 20px;
}

#navbar-2 .navbar-nav li a {
    color: white !important;
    font-size: 20px;
}

.bg-custom {
    background-color: #08dd61 !important;
}

#search {
    background: #08dd61;
}

.carousel-inner .carousel-item{
    max-height: 700px;
}

.title_name {
    font-weight:bold; 
    color:darkcyan;
    padding-top: 2%;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    padding-top: 2%;
  }
  
  .subtitle {
    color: grey;
    font-size: 22px;
  }

  .score {
    display:inline; 
    position:absolute; 
    left:10%;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
