#navbar-1 .navbar-nav li a {
    color: #08dd61 !important;
    font-size: 20px;
}

#navbar-2 .navbar-nav li a {
    color: white !important;
    font-size: 20px;
}

i {
  margin: 5px;
}

.bg-custom {
    background-color: #08dd61 !important;
}

#search {
    background: #08dd61;
}

.carousel-inner .carousel-item{
    max-height: 700px;
}

a {
    color: #08dd61 !important;
}

h1 {
    color: #08dd61;
}

.dropdown-menu a {
    font-size: 15px !important;
}

#button_style1 {
    background-color: white !important;
    border-color: #08dd61 !important;
    color: #08dd61 !important;
}

.title_name {
  font-weight:bold; 
  color:darkcyan;
  padding-top: 2%;
  text-align: center;
}
  
.subtitle {
  color: grey;
  font-size: 22px;
  text-align: center;
}

.subtitle-b {
  color: black;
  font-size: 22px;
}

.score {
  display:inline; 
  position:absolute; 
  left:10%;
}

.small_title_main {
  color: dimgray;
  font-size: 20px;
  display:inline; 
}

.small_title {
  color: grey;
  font-size: 18px;
  display:inline;
}

.black_button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
  
.black_button:hover {
  opacity: 0.7;
}

.red_button{
  border:none;
  outline: 0;
  padding: 12px;
  background-color: lightcoral;
  color: white; 
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.red_button:hover {
  opacity: 0.7;
}

.blue_button{
  border:none;
  outline: 0;
  padding: 12px;
  background-color: royalblue;
  color: white; 
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blue_button:hover {
  opacity: 0.7;
}

.green_button{
  border:none;
  outline: 0;
  padding: 12px;
  background-color:lightgreen;
  color: white; 
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.green_button:hover {
  opacity: 0.7;
}

.small_red_button{
  border:none;
  outline: 0;
  padding: 10px;
  background-color: lightcoral;
  color: white; 
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.small_red_button:hover {
  opacity: 0.7;
}

.small_blue_button{
  border:none;
  outline: 0;
  padding: 10px;
  background-color: royalblue;
  color: white; 
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.small_blue_button:hover {
  opacity: 0.7;
}

.small_green_button{
  border:none;
  outline: 0;
  padding: 10px;
  background-color:lightgreen;
  color: white; 
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.small_green_button:hover {
  opacity: 0.7;
}

.avatar {
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#product_image {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}

.no-border-heart {
  border: none;
  background-color: transparent;
}