html,body
{
    overflow-x: hidden; 
}

#navbar-1 .navbar-nav li a {
    color: #08dd61;
    font-size: 20px;
}

#navbar-2 .navbar-nav .nav-item a.nav {
    color: white;
    font-size: 20px;
}

.dropdown-menu a{
  color: #08dd61;
  font-size: 15px !important;
}

i {
  margin: 5px;
}

.bg-custom {
    background-color: #08dd61;
}

#search {
    background: #08dd61;
    border-color: #08dd61;
}

#search_icon {
  height: 2px;
  margin: 0px;
}

.carousel-inner .carousel-item{
    max-height: 700px;
}

a {
    color: #08dd61;
}

a:hover {
  color: #08dd61;
}

h1 {
    color: #08dd61;
}

.dropdown-menu a {
    font-size: 15px;
}

#button_style1 {
    background-color: white;
    border-color: #08dd61;
    color: #08dd61;
}

#button_style2 {
  background-color: #08dd61;
  border-color: white;
  color: white;
}

.avatar {
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#product_image {
  width: 100%;
  height: auto;
}

#product_image_show {
  width: 100%;
  height: auto;
}

.no-border-heart {
  border: none;
  background-color: transparent;
}

#no-space-break {
  position: relative;
}

.add_cart_button {
  position: relative;
}

#description_review {
  max-width: 300px;
}

.add_review_icon {
  color: #08dd61;
  font-size: 38px;
}

#cart_quantity {
  height: 46px;
}

#cart_image {
  justify-content: start;
  width: 100%;
  height: 4vw;
  object-fit: contain;
}

#card_product {
  height: calc(100% - 30px);
}

#footer{
  background-color: #08dd61;
}

#footer h5 {
  color: white;
}

#footer h6 {
  color: white;
  font-size: small;
}

#footer-links a {
  color: white;
}

#social_icons i {
  color: white;
  font-size: 20px;
}

#footer_icons {
  color: white;
  font-size: 40px;
}

#wishlist h3 {
  color: #08dd61;
}
